*{
  font-family: "Verdana", "Arial", serif;
}
body{
  display: flex;
  justify-content: center;
}
.page, p{
  font-size: 14px;
}
.welcome{
  background-color: #eee;
  color: #111;
}
.page{
  background-color: #111;
  color: #eee;
}
#wrapper{
  margin: 0px;
  width: 320px;
}
.welcome, .page{
  padding: 20px;
  width: 294px;
}
button{
  margin-top: 10px;
  margin-bottom: 10px;
}
input, select{
  margin-bottom: 10px;
}
#keyword-results{
  width: 100px;
}
.hidden-elems{
  visibility: hidden;
}
