*{
  color: #ccc;
  font-family: "Verdana", "Arial", serif;
}
body{
  display: flex;
  justify-content: center;
  background-color: #7b1a2d;
}
a:hover{
  color: tomato;
}
#wrapper{
  margin: 0px;
  width: 320px;
}
#intro, #page, #agree{
  font-size: 16px;
}
#welcome, #page, #agree{
  width: 294px;
  padding: 10px;
  margin: 5px auto;
  border: solid #aaa 2px;
  border-radius: 3px;
}
#agree{
  z-index: 1;
}
button{
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid #765 2px;
  border-radius: 3px;
}
button:hover{
  background-color: #c1eff5;
}
input, select{
  margin-bottom: 10px;
}
button, input, select{
  color: #222;
}
#keyword-results{
  width: 150px;
}
.hidden-elems{
  visibility: hidden;
}
