*{
  color: #ccc;
  font-family: "Verdana", "Arial", serif;
}
body{
  display: flex;
  justify-content: center;
  background-color: #7b1a2d;
}
#wrapper{
  margin: 0px;
  width: 320px;
}
p, .page{
  font-size: 16px;
}
.welcome, .page{
  width: 294px;
  padding: 10px;
  margin: 5px auto;
  border: solid #aaa 2px;
  border-radius: 3px;
}
button{
  margin-top: 10px;
  margin-bottom: 10px;
}
input, select{
  margin-bottom: 10px;
}
#keyword-results{
  width: 100px;
}
.hidden-elems{
  visibility: hidden;
}
